@using LaboratorioGestor.App.Extensions
@model IEnumerable<LaboratorioGestor.App.ViewModels.LaboratorioViewModel>

@{
    ViewData["Title"] = "Laboratórios Cadastrados";

    var pesquisa = Context.Request.Query["NomePesquisa"];
    var pesquisaID = Context.Request.Query["IDPesquisa"];

}

<h1> @ViewData["Title"]</h1>
<hr />

<div class="form-row">
    <p>
        <a asp-action="Create" class="btn btn-primary" style="width:90px; margin-right:20px; margin-bottom:10px">Cadastrar</a>
    </p>
    <form asp-action="Index" style="width:780px; padding:0px" method="get">
        <input type="hidden" id="IDPesquisa" name="IDPesquisa" value="@pesquisaID" class="form-control">
        <div class="input-group">

            <input type="text" id="NomePesquisa" name="NomePesquisa" value="@pesquisa" style="height:40px;width:90px" class="form-control" placeholder="Digite CNPJ do Laboratório..." aria-label="Digite CNPJ do Laboratório..." aria-describedby="basic-addon2">

            <div class="input-group-append" id="basic-addon2">
                <button type="submit" title="pesquisar" id="btnpesquisar" name="btnpesquisar" class="input-group-text fa fa-search" asp-></button>
            </div>
        </div>
    </form>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDoCadastro)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proprietario)
                </td>,
                <td>
                    @Html.DisplayFor(modelItem => item.TPO)
                </td>
                <td>
                    @this.FormataDocumento(item.TipoPessoa, item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDoCadastro)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            PesquisaModels();
        });
    </script>
}
