@using LaboratorioGestor.App.Extensions
@model IEnumerable<LaboratorioGestor.App.ViewModels.LaboratorioViewModel>

@{
    ViewData["Title"] = "Cadastrados";
    var pesquisa = Context.Request.Query["NomePesquisa"];
    var DescricaoCampoPesquisa = "Digite o CNPJ do Laboratório...";
}

<div class="ca-page-default ca-page-default-fold">
    
    <h1 class="ca-heading--title"> @ViewData["Title"]</h1>
    
    <h3 class="ca-heading--subtitle-alt ca-u-vertical-offset3" style="margin-top: 50px">Dados do laboratório</h3>
    <hr />


    <partial name="../Pesquisar/_Pesquisar" model="@DescricaoCampoPesquisa" />

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proprietario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TPO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDoCadastro)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proprietario)
                    </td>,
                    <td>
                        @Html.DisplayFor(modelItem => item.TPO)
                    </td>
                    <td>
                        @this.FormataDocumento(item.TipoPessoa, item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDoCadastro)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //PesquisaModels();
        });
    </script>
}
