@model IEnumerable<LaboratorioGestor.App.ViewModels.ProteticoViewModel>
@using LaboratorioGestor.App.Extensions
@{
    ViewData["Title"] = "Protéticos Cadastrados";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Novo Protético</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentualDaComissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDoCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentualDaComissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDoCadastro)
                </td>
                <td>
                    @this.FormataDocumento(1, item.CPF)
                </td>

                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
