@model LaboratorioGestor.App.ViewModels.EnderecoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnderecoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenciaDoEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenciaDoEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDoCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DentistaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DentistaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratorioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratorioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteticoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteticoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
