@model LaboratorioGestor.App.ViewModels.CobrancaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CobrancaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDesconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDesconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAcrecimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAcrecimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDentista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDentista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorRecebimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRestante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorRestante)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
