@model LaboratorioGestor.App.ViewModels.CobrancaViewModel

@{
    ViewData["Title"] = "Detalhes da cobrança";
}

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRecebimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorRecebimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRestante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorRestante)
        </dd>

    </dl>

    <partial name="../Recebimentos/_ListagemRecebimentos" model="Model.Recebimentos"/>

</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
