@model LaboratorioGestor.App.ViewModels.ServicoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServicoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenciaOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenciaOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDProtetico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDProtetico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDentista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDentista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
