@model IEnumerable<LaboratorioGestor.App.ViewModels.RecebimentosViewModel>
@{
    ViewData["Title"] = "Recebimentos";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-controller="Recebimentos" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }

    </tbody>
</table>
