@model LaboratorioGestor.App.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContatoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularWhatApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularWhatApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDoCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DentistaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DentistaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratorioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratorioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteticoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteticoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
